body
  max-width: 640px
  margin auto

// title
h1
  font-family: serif

//  MV
#mv
  max-width: 640px
  margin auto
  img
    width: 100%
    height: auto
    transition: all .5s ease-in
    &:hover
      transform: scale(10)
      transition: all .5s ease-in